
body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 97vh;
  background-image: url(./assets/backgroundBC.png);
}
.game {
  width: 90vh;
}